{% extends "base.html" %}

{% block body %}

<div class="container my-5">
  <div class="card">
    <div class="card-header">
      Employee details
    </div>
    <div class="card-body">
      <table class="table table-light">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for emp in employee %}
          <tr>
            <th scope="row">{{no}}</th>
            <td>{{emp.first_name}}</td>
            <td>{{emp.last_name}}</td>
            <td>{{emp.email}}</td>
            <td>
              <a href="/employee_udpate/{{emp.id}}" class="btn btn-outline-info btn-sm">Update</a>
              <a href="/employee_delete/{{emp.id}}" class="btn btn-outline-danger btn-sm"
                onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add New
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/employee" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="exampleInputEmail1">First name</label>
                  <input type="text" class="form-control" id="exampleInputText" name="first"
                    aria-describedby="emailHelp" placeholder="e.g John">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Last name</label>
                  <input type="text" class="form-control" id="exampleInputText" name="last" aria-describedby="emailHelp"
                    placeholder="e.g Doe">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" name="email"
                    aria-describedby="emailHelp" placeholder="e.g john@email.com">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Add New" />
              </div>
            
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>



  {% endblock body %}